{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <main>
    <section>
      <p>
        {{name}}
      </p>
      <p>
        {{birthdate}}
      </p>
      <p>
        {{birthplace}}
      </p>
      <p>
        {{deathdate}}
      </p>
      <p>
        {{nationality}}
      </p>
      <p>
        {{occupation}}
      </p>
      <br />
      <hr />
      {{> title data='Known For' big=false}}
      <ul>
        {{#each known_for}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
      <br />
      <hr />
      {{> title data='Education' big=false}}
      {{#each education}}
      <p>
        {{degree}}
      </p>
      <p>
        {{field}}
      </p>
      <p>
        {{institution}}
      </p>
      <p>
        {{year}}
      </p>
      {{/each}}
      <br />
      <hr />
      {{> title data='notable_publications' big=false}}
      {{#each notable_publications}}
      <p>
        {{title}}
      </p>
      <p>
        {{year}}
      </p>
      <p>
        {{publisher}}
      </p>
      {{/each}}
      <br />
      <hr />
      {{> title data='partners' big=false}}
      {{#each partners}}
      <p>
        {{name}}
      </p>
      <p>
        {{relationship}}
      </p>
      <p>
        {{years}}
      </p>
      {{/each}}
      <br />
      <hr />
      {{> title data='awards' big=false}}
      {{#each awards}}
      <p>
        {{title}}
      </p>
      <p>
        {{year}}
      </p>
      <p>
        {{description}}
      </p>
      {{/each}}
      <br />
      <hr />
      {{> title data='influences' big=false}}
      <ul>
        {{#each influences}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
      <br />
      <hr />
      {{> title data='influenced' big=false}}
      <ul>
        {{#each influenced}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
      <br />
      <hr />
      {{> title data='quotes' big=false}}
      <ul>
        {{#each quotes}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
      <br />
      <hr />
      {{> title data='major_discoveries' big=false}}
      {{#each major_discoveries}}
      <p>
        {{title}}
      </p>
      <p>
        {{year}}
      </p>
      <p>
        {{description}}
      </p>
      {{/each}}
      <br />
      <hr />
      {{> title data='contributions' big=false}}
      {{#with contributions}}
      <p>
        {{title}}
      </p>
      <p>
        {{description}}
      </p>
      <p>
        {{year}}
      </p>
      <p>
        {{field}}
      </p>
      {{/with}}
    </section>
  </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}