<!-- js.hbs -->

<h1>{{name}}</h1>
<p>{{description}}</p>

<h2>History</h2>
<p>Year: {{history.year}}</p>
<p>Founder: {{history.founder}}</p>

<h2>Types</h2>
<ul>
  {{#each types}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<h2>Syntax</h2>

<h3>Variables</h3>
<ul>
  {{#each syntax.variables}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<h3>Functions</h3>
<ul>
  {{#each syntax.functions}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<h3>Conditionals</h3>
<ul>
  {{#each syntax.conditionals}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<h3>Loops</h3>
<ul>
  {{#each syntax.loops}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<h3>Classes</h3>
<ul>
  {{#each syntax.classes}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<h2>Features</h2>
<ul>
  {{#each features}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<h2>Libraries</h2>
<ul>
  {{#each libraries}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<h2>Tools</h2>
<ul>
  {{#each tools}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<h2>Community</h2>
<ul>
  {{#each community}}
  <li>{{name}} - {{type}}</li>
  {{/each}}
</ul>