<div class="row">
  <div class="col-8">
    <section>
      <h2>{{formBlock.header}}</h2>
      <div class="form-block">
        <div class="rating">
          <p>{{formBlock.rating.title}}: {{formBlock.rating.value}}</p>
        </div>
        <div class="action-block">
          <ul class="nav nav-tabs">
            {{#each formBlock.actionBlock.tabs}}
            <li class="nav-item">
              <a class="nav-link {{#if isActive}} active{{/if}}{{#if isDisabled}} disabled{{/if}}" href="#" role="tab"
                aria-disabled="{{isDisabled}}">
                {{this.text}}
              </a>
            </li>
            {{/each}}
          </ul>
          <div class="report">
            <div class="card my-4">
              <div class="card-body">
                <h3>{{formBlock.actionBlock.report.title}}</h3>
                <a href="{{formBlock.actionBlock.report.button.link}}" class="btn btn-secondary">
                  {{formBlock.actionBlock.report.button.text}}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="feedback-block">
          <h3>{{formBlock.feedbackBlock.title}}</h3>
          <div class="feedback-buttons">
            {{#each formBlock.feedbackBlock.buttons}}
            <a href="{{this.link}}"
              class="btn btn-{{#if this.isWarning}}warning{{/if}}{{#if this.isSuccess}}success{{/if}}{{#if this.isDanger}}danger{{/if}}">
              {{this.text}}
            </a>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-4">
    <div class="goods-info">
      <div class="card">
        <div class="card-body"> <img src="{{formBlock.goodsInfo.photo}}" alt="Product Image">
          <h3>{{formBlock.goodsInfo.name}}</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>{{formBlock.goodsInfo.price}}</p>
          {{#if formBlock.goodsInfo.inMarket}}
          <p>Є в наявності</p>
          <div class="buy-buttons">
            {{#each formBlock.goodsInfo.buttons}}
            <div class="mb-2">
              <a href="{{this.link}}"
                class="btn btn-{{#if this.isPrimary}}primary{{/if}}{{#if this.isSecondary}}secondary{{/if}}">
                {{this.text}}
              </a>
            </div>
            {{/each}}
          </div>
          {{/if}}
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>{{formBlock.goodsInfo.seller.title}}: {{formBlock.goodsInfo.seller.value}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <h2>Reviews</h2>
  {{#each reviewList}}
  <div class="review">
    <div class="card">
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            <h3>{{title.userName}}</h3>
            <p class="caption">{{title.caption}}</p>
            <p class="date">{{title.date}}</p>
          </div>
          <div class="card-body">
            <p>{{reviewBody.text}}</p>
            <div class="advantages">
              <p><strong>{{reviewBody.advantages.title}}:</strong> {{reviewBody.advantages.text}}</p>
            </div>
            <div class="disadvantages">
              <p><strong>{{reviewBody.disadvantages.title}}:</strong> {{reviewBody.disadvantages.text}}</p>
            </div>
            <div class="images">
              {{#each reviewBody.images}}
              <img src="{{this}}" alt="Review Image">
              {{/each}}
            </div>
          </div>
        </div>
        <div class="comments">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
              {{#each reviewBody.coments}}
              <div class="comment my-3">
                <div class="card">
                  <div class="card-body">
                    <p class="comment-user">{{userName}}</p>
                    <p class="comment-date">{{date}}</p>
                    <p class="comment-text">{{text}}</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</section>
<section>
  <div class="card bg-success text-center">
    <div class="card-body">
      <h2 class="text-white">{{service.title}}</h2>
      <p class="text-white">{{service.description}}</p>
      <div class="service-buttons">
        {{#each service.buttons}}
        <a href="{{this.link}}" class="btn btn-primary">
          {{this.text}}
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</section>