<div>
  <h1 class="text-center">{{page_header.title}}</h1>
  <p class="text-center">{{page_header.description}}</p>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h2 class="text-end">{{section.about_us.title_list.main}}</h2>
    <h3 class="text-end">{{section.about_us.title_list.sub}}</h3>
    <button class="btn btn-outline-info">{{section.about_us.button.text}}</button>
  </div>
</div>


<div class="card mb-2">
  <div class="card-body">
    <h2>{{section.advantage.title}}</h2>

    <div class="card mb-2">
      <div class="card-body">
        <h3>{{section.advantage.efficiency.title}}</h3>
        <h4>{{section.advantage.efficiency.sub_title}}</h4>
        <p>{{section.advantage.efficiency.description}}</p>
        <button class="btn btn-outline-warning">{{section.advantage.efficiency.button}}</button>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h3 class="text-center">{{section.advantage.innovation.title}}</h3>
        <h4 class="text-center">{{section.advantage.innovation.sub_title}}</h4>
        <p class="text-center">{{section.advantage.innovation.description}}</p>
        <button class="btn btn-outline-warning">{{section.advantage.innovation.button}}</button>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h3 class="text-end">{{section.advantage.collaboration.title}}</h3>
        <h4 class="text-end">{{section.advantage.collaboration.sub_title}}</h4>
        <p class="text-end">{{section.advantage.collaboration.description}}</p>
        <button class="btn btn-outline-warning">{{section.advantage.collaboration.button}}</button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2>{{section.agreement.title}}</h2>
    <div class="card">
      <div class="card-body">
        <h3>{{section.agreement.info.sub_title}}</h3>
        <div class="card">
          <div class="card-body">
            <p>{{section.agreement.info.detail.text}}</p>
            <button class="btn btn-success">{{section.agreement.info.detail.button}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>