<html>

<head>
  <title>
    Basic
  </title>
  <meta charset='utf-8' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>


<body>
  <div>
    <div class="my-5">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <div class="nav">
              {{#each navigation.links}}
              <div class="nav-item">
                <a href="{{this.href}}" class="nav-link active">{{this.text}}</a>
              </div>
              {{/each}}
              <div class="nav-item">
                <a href="#" class="nav-link disabled">Disabled</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу }}

    {{{body}}}
    <div class="my-5">
      <div class="col-12">
        <div class="row">
          {{#each footer}}
          <div class="col-2">
            <div class="flex-column">
              {{#each this}}
              <div><a class='btn btn-link {{#if @last}} disabled {{/if}} text-decoration-none p-0'
                  href="{{this.link}}">{{this.text}}</a></div>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>